torch>=2.1.0             
transformers>=4.39.0
accelerate>=0.28.0       
bitsandbytes>=0.43.0     
sentence-transformers>=2.6.1
chromadb>=0.4.24         
cross-encoder

numpy>=1.24
tqdm>=4.66               
pdfplumber>=0.10.4       
pandas>=2.0              


huggingface-hub>=0.21.0

certifi>=2024.2.2
