numpy
pandas
torch
transformers
huggingface_hub
accelerate
safetensors
bitsandbytes            
sentence-transformers
optimum
onnxruntime
langchain
langchain-core
langchain-community
langchain-chroma        
langchain-huggingface   
langsmith               
chromadb
rank-bm25
fastapi
uvicorn
pydantic
onnx
